/* ==========================================================
   ESTILO PADRÃO (MOBILE)
   ========================================================== */
.header {
  background-color: var(--off-white);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  z-index: 1000;
}

.logo {
  height: auto;
  width: 80px;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--off-white);
  padding: 20px;
  gap: 20px;
  border-bottom: 3px solid var(--primary);
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
}

/* ESTADO ATIVO */
.nav.nav-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.nav ul li a {
  text-decoration: none;
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/* Botão Hambúrguer */
.btn-mobile {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--black);
  z-index: 1001;
}

/* ==========================================================
   ESTILOS DESKTOP (768px+)
   ========================================================== */
@media screen and (min-width: 768px) {
  .logo {
    width: 90px;
  }

  .header {
    padding: 0 5%;
  }

  .btn-mobile {
    display: none;
  }

  .nav {
    display: flex !important;
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    background: none;
    padding: 0;
    box-shadow: none;
    border: none;
    width: auto;
  }

  .nav ul {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease;
    color: var(--black);
  }

  .nav ul li a:hover {
    color: var(--secondary);
  }

  .nav ul li a.btn-header {
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
    display: inline-block;
  }

  .nav ul li a.btn-header:hover {
    background-color: var(--primary);
    color: var(--black);
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 130px;
  }
}
