:root {
  --primary: #fff316;
  --secondary: #fe0000;
  --black: #1a1a1a;
  --white: #ffffff;
  --off-white: #F5F4F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}