:root {
  --primary: #fff316;
  --secondary: #fe0000;
  --black: #1a1a1a;
  --white: #ffffff;
  --off-white: #F5F4F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: all 0.3s ease;
}

.whatsapp-fixed:hover {
    transform: scale(1.1);
    background-color: #1ebe57;
}

@media screen and (min-width: 768px) {
    .whatsapp-fixed {
        font-size: 30px;
        bottom: 30px;
        right: 30px;
    }
}